@import '_variables.scss';

.testimonials {
    background-color: $colorMainBlackBlcok;
    padding-top: 100px;
    padding-bottom: 175px;
     h1 {
        color: #fff;
        text-align: center;
        font-size: $fontSizeHead;
        text-transform: uppercase;
        span {
            font-weight: bold;
        }
        padding-bottom: 30px;
    }
    
    .testimDesc {
        text-align: center;
        color: #e7e7e7;
        font-size: 18px;
        p {
            text-transform: uppercase;
            padding-bottom: 50px;
        }
    }
    
    .author {
        text-align: center;
        color: #e7e7e7;
        font-size: 18px;
        span {
            font-weight: bold;
        }
        
    }
}